i.icon {
    font-size: 2em;
}
.container.main {
    margin-top: 7em;
}
#delete {
    display: inline;
}
i.icon.chevron.right::before{
    vertical-align: middle;
}
i.icon.chevron.right{
    vertical-align: middle;
}